.container {
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    padding-left: 18px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.head {
    display: flex;
    margin: 0;
    padding: 4rem 15%;
    color: white;
    background-color: #1f2937;
}

.left {
    padding-right: 48px;
}

.left h1 {
    font-size: 48px;
    font-weight: bolder;
}

.head img {
    width: 600px;
    height: 250px;
    border-radius: 25px;
}

.button {
    display: flex;
    text-align: center;
    align-items: center;
    width: 72px;
    height: 24px;
    background-color:#3882f6;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 0.25em 1em;
    border-radius: .25em;
}



.button:hover {
    background-color: white;
    color: #3882f6;
    text-decoration: none;
}

.content {
    padding: 4rem 15%;
    text-align: center;
}

.imagecontainer {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px 0;
    margin: 0;
    padding: 20px;
}

.images {
    text-align: center;
    width: 200px;
    margin: 0;
    padding: 20px;
}

.box {
    width: 200px;
    height: 200px;
    border: 3px solid;
    border-color: #0062ff;
    border-radius: 15px;
}

.testimonials {
    padding: 0 20%;
    margin-top: 12rem;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    text-align: left;
}

.author {
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    text-align: right;
}

.calltoaction {
    background-color: #3882f6;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 0 20%;
    margin-top: 200px;
    padding: 40px;

}

.calltoaction .text {
    color: white;
    text-align: left;
}

.calltoaction .title {
    font-size: 24px;
    font-weight: bold;
}

.calltoaction .button {
    display: flex;
    text-align: center;
    align-items: center;
    width: 72px;
    height: 24px;
    border: 3px solid white;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 0.25em 1em;
    border-radius: .25em;
}

.calltoaction .button:hover {
    background-color: white;
    color: #3882f6;
    text-decoration: none;
}

.footer {
    align-items: center;
    text-align: center;
    background-color:#1f2937;
    color: white;
    margin: 0;
    margin-top: 50px;
    padding: 40px 0;
}